version: "3.9"
services:
  db:
    image: postgres:17.4
    restart: always
    environment:
      POSTGRES_USER: wplab
      POSTGRES_PASSWORD: wplab
      POSTGRES_DB: dishes
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5433:5432"

volumes:
  pgdata:
